.main-title {
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.invisible {
  display: none;
}

.outcome-form {
  padding: 10px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.categories-item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px
}
