.main-title {
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.outcome, .income {
  max-width: 50%;
}

.outcome-form {
  padding: 10px 0;
}

.radios {
  margin: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  margin: 20px
}

.categories-item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px
}
