.unauth {
  text-align: center;
  margin: auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger {
  width: 32px;
  height: 32px;

  margin: 15px;
}

.burger-menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.burger-menu__item {
  color: #000;
  text-decoration: none;
}

.invisible {
  display: none;
}


#budget-value {
  text-align: center;
}

.site-header__login {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 15px;
}

.big-category-chooser {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
}

.big-category-chooser__item {
  border: 10px solid transparent;
}

.choosed {
  border: 10px #a2fd61 solid;
}

#main {
  border: 10px #a2fd61 solid;
  padding: 15px;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}



.outcome-form, 
.income-form {
  padding: 10px 0;
  margin-top: 0px;
}

#outcome-radios,
#income-radios {
  margin: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  margin: 20px
}

.categories-item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px
}
